product/app/Photos/Photos.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/MotoAppUIRefresh/MotoAppUIRefresh.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/MotoDesktop/MotoDesktop.apk
product/priv-app/AiServices/AiServices.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/MotCamera4/MotCamera4.apk
product/priv-app/Messages/Messages.apk
vendor/etc/camera/vidhance.lic
system_ext/apex/com.android.vndk.v30.apex
